body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;

    background-image:
    linear-gradient(rgba(0,0,40,0.55), rgba(0,0,40,0.55)),
    url("/static/Etihad.png");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #0b1f3a;
}

.container {
    max-width: 950px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #6CABDD;
}

.card {
    background: rgba(255,255,255,0.12);
    border-radius: 18px;
    padding: 18px;
    margin-bottom: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.35);
}

button {
    background: #6CABDD;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
}

.navbar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.navbar button {
    padding: 10px 14px;
}
